/build/
/app/build/
/.gradle/
/caches/
/daemon/
/native/
/notifications/
/local.properties
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.hprof
*.orig
/build/reports/
